# Pandas series
## It is a One dimensional object to address one single column.
## Every single column in  csv file is a series.

In [1]:
import pandas as pd

# Create series - 1

In [8]:
my_list = [2, 67, 34, 32]
pd.Series(my_list)

0     2
1    67
2    34
3    32
dtype: int64

In [10]:
my_list = [True, True, False, True]
pd.Series(my_list)

0     True
1     True
2    False
3     True
dtype: bool

In [12]:
# Mixed data types
my_list = [2, 67, True, False, "I am a list"]
pd.Series(my_list)

0              2
1             67
2           True
3          False
4    I am a list
dtype: object

In [13]:
pd.Series(5, index=[0])

0    5
dtype: int64

In [16]:
pd.Series(5, index=[0, 1, 2, 3, 4])

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [17]:
pd.Series(5, index=range(0, 10))

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64

In [19]:
pd.Series([number*10 for number in range(0, 11)])

0       0
1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
dtype: int64

In [20]:
my_dict = {"John" : "111-222-3333",
          "Alice": "222-333-4444",
          "Bob": "333-444-5555"}
pd.Series(my_dict)

John     111-222-3333
Alice    222-333-4444
Bob      333-444-5555
dtype: object

In [21]:
# Sets cannot be used to create series object
my_set = {"apple", "banana", "cherry"}
pd.Series(my_set)

TypeError: 'set' type is unordered