In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('C:/Personel/LearnPython/code/SMSSpamCollection',sep='\t', header=None, names=['status', 'message'])

In [10]:
df.head()

  status                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

# Upper, Lower, Title, len

In [14]:
df['status'].str.upper() # First convert the object to StringMethods object and then apply methods

0        HAM
1        HAM
2       SPAM
3        HAM
4        HAM
        ...
5567    SPAM
5568     HAM
5569     HAM
5570     HAM
5571     HAM
Name: status, Length: 5572, dtype: object

In [15]:
df['message'].str.upper() # First convert the object to StringMethods object and then apply methods

0       GO UNTIL JURONG POINT, CRAZY.. AVAILABLE ONLY ...
1                           OK LAR... JOKING WIF U ONI...
2       FREE ENTRY IN 2 A WKLY COMP TO WIN FA CUP FINA...
3       U DUN SAY SO EARLY HOR... U C ALREADY THEN SAY...
4       NAH I DON'T THINK HE GOES TO USF, HE LIVES ARO...
                              ...
5567    THIS IS THE 2ND TIME WE HAVE TRIED 2 CONTACT U...
5568                 WILL Ãœ B GOING TO ESPLANADE FR HOME?
5569    PITY, * WAS IN MOOD FOR THAT. SO...ANY OTHER S...
5570    THE GUY DID SOME BITCHING BUT I ACTED LIKE I'D...
5571                           ROFL. ITS TRUE TO ITS NAME
Name: message, Length: 5572, dtype: object

In [18]:
df['status'].str.upper().str.lower() # First convert the object to StringMethods object and then apply methods

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: status, Length: 5572, dtype: object

In [19]:
df['status'].str.title() # first character is upper case

0        Ham
1        Ham
2       Spam
3        Ham
4        Ham
        ...
5567    Spam
5568     Ham
5569     Ham
5570     Ham
5571     Ham
Name: status, Length: 5572, dtype: object

In [20]:
df['status'].str.len() # First convert the object to StringMethods object and then apply methods

0       3
1       3
2       4
3       3
4       3
       ..
5567    4
5568    3
5569    3
5570    3
5571    3
Name: status, Length: 5572, dtype: int64

In [26]:
len(df['message'].iloc[0])

111

In [27]:
df[df['message'].str.startswith('..')]  # First convert the object to StringMethods object and then apply methods

     status                                     message
4838    ham  ....photoshop makes my computer shut down.
5408    ham                     ... Are you in the pub?

# Replace - normal string replace

In [28]:
df['message'][3].replace('so','').replace('then', '')

'U dun say  early hor... U c already  say...'

In [29]:
df['message'][2766].strip()

'and  picking them up from various points'

In [31]:
tuples = [2,3,(2,3)]
tuples[2] = (3,2)
print(tuples)

[2, 3, (3, 2)]

In [32]:
3 * 1/3  # + 3

1.0

In [35]:
print(2 or 5)
print(2 or 4)
print(2 or 2)

2
2
2

In [36]:
print(not("0"))

False

In [37]:
for i in range(5):
     print('*'* i)

*
**
***
****