In [5]:
import pandas as pd
pd.read_csv('C:/Personel/LearnPython/code/random1.csv')

   67.72003252
0     6.217307
1    37.743532
2    37.556650
3    32.792233
4    51.034497
5    57.462068
6     9.021376
7    93.856161
8    95.177522

In [4]:
type(pd.read_csv('C:/Personel/LearnPython/code/random1.csv')) # Not a series datatype

pandas.core.frame.DataFrame

In [6]:
pd.read_csv('C:/Personel/LearnPython/code/random1.csv', header=None, squeeze=True) # convert to series with squeeze

0    67.720033
1     6.217307
2    37.743532
3    37.556650
4    32.792233
5    51.034497
6    57.462068
7     9.021376
8    93.856161
9    95.177522
Name: 0, dtype: float64

In [25]:
pd.read_csv('C:/Personel/LearnPython/code/random1.csv', header=None, squeeze=True) # convert to series with squeeze

0    67.720033
1     6.217307
2    37.743532
3    37.556650
4    32.792233
5    51.034497
6    57.462068
7     9.021376
8    93.856161
9    95.177522
Name: 0, dtype: float64

In [30]:
# Read csv file with squeeze and usecols to get specific col
ser = pd.read_csv('C:/Personel/LearnPython/code/Stock.csv', squeeze=True, usecols=['Open'])

In [31]:
type(ser)

pandas.core.series.Series

In [23]:
pd.Series([[1,3,5], 3, 5])

0    [1, 3, 5]
1            3
2            5
dtype: object