# Learn astype

In [1]:
import pandas as pd
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('C:/Personel/LearnPython/code/adult.data.csv', header=None, names=names)

In [4]:
# This will set to category instead of object, so decreases space
# This will clearly reduce space from 3.7 mb to 3.3 mb so easily
# sex only has 'Male' or 'Female'
# marital-status only has 7 possibilities
df['sex'] = df['sex'].astype('category')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   edu-num         32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  category
 10  cap-gain        32561 non-null  int64
 11  cap-loss        32561 non-null  int64
 12  hour/week       32561 non-null  int64
 13  country         32561 non-null  object
 14  salary          32561 non-null  object
dtypes: category(1), int64(6), object(8)
memory usage: 3.5+ MB

In [8]:
df['marital-status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [10]:
df['marital-status'].nunique()

7

In [11]:
df['marital-status'] = df['marital-status'].astype('category')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   edu-num         32561 non-null  int64
 5   marital-status  32561 non-null  category
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  category
 10  cap-gain        32561 non-null  int64
 11  cap-loss        32561 non-null  int64
 12  hour/week       32561 non-null  int64
 13  country         32561 non-null  object
 14  salary          32561 non-null  object
dtypes: category(2), int64(6), object(7)
memory usage: 3.3+ MB

In [14]:
df['race'].nunique()

5

In [15]:
df['race'] = df['race'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   edu-num         32561 non-null  int64
 5   marital-status  32561 non-null  category
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  category
 9   sex             32561 non-null  category
 10  cap-gain        32561 non-null  int64
 11  cap-loss        32561 non-null  int64
 12  hour/week       32561 non-null  int64
 13  country         32561 non-null  object
 14  salary          32561 non-null  object
dtypes: category(3), int64(6), object(6)
memory usage: 3.1+ MB