# Apply built in Function on series

In [1]:
import pandas as pd 

temperature = [30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
ser = pd.Series(data=temperature, index=months)

In [2]:
ser

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [3]:
len(ser)

12

In [4]:
type(ser)

pandas.core.series.Series

In [5]:
list(ser)

[30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]

In [6]:
dict(ser)

{'Jan': 30,
 'Feb': 31,
 'Mar': 32,
 'Apr': 33,
 'May': 34,
 'Jun': 32,
 'Jul': 30,
 'Aug': 31,
 'Sep': 29,
 'Oct': 33,
 'Nov': 34,
 'Dec': 32}

In [8]:
sorted(ser) # Returns list object

[29, 30, 30, 31, 31, 32, 32, 32, 33, 33, 34, 34]

In [9]:
max(ser)

34

In [10]:
min(ser)

29

# Extract specifc value from series like list data structure

In [11]:
ser

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [13]:
ser[10] # Series slicing

34

In [18]:
ser[0:7] # Series slicing

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
dtype: int64

In [19]:
ser[0:8] # Series slicing

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
dtype: int64

In [22]:
ser[[3,5,7]] # Get specific index

Apr    33
Jun    32
Aug    31
dtype: int64

In [23]:
ser[-1]

32

In [29]:
ser[-5:-1]

Series([], dtype: int64)

In [30]:
ser['Aug']

31

In [31]:
ser[['Aug', 'Sep']]

Aug    31
Sep    29
dtype: int64

In [40]:
s = pd.Series([1,2,3,4,5])
sorted(s)[0]

1

# value_count method

In [41]:
s1 = pd.Series(['Male', 'Female','Male','Female', 'Female', 'Female','Male','Female','Male','Female','Male','Female', 'Female', 'Female', 'Female','Male','Male','Male','Female','Male','Male','Female'])

In [42]:
s1.nunique() # Unique values

2

In [43]:
s1.value_counts() # Value counts

Female    12
Male      10
dtype: int64

# .apply() and .map() method

In [44]:
import pandas as pd 

temperature = [30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]
months = ["|Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
s1 = pd.Series(temperature, months)

In [45]:
s1

|Jan    30
Feb     31
Mar     32
Apr     33
May     34
Jun     32
Jul     30
Aug     31
Sep     29
Oct     33
Nov     34
Dec     32
dtype: int64

In [46]:
def convert_temp_fahrenheit(celsius):
    return celsius * 1.8 + 32

In [49]:
s1.apply(convert_temp_fahrenheit)

TypeError: convert_temp_fahrenheit() got an unexpected keyword argument 'inplace'

In [48]:
s1

|Jan    30
Feb     31
Mar     32
Apr     33
May     34
Jun     32
Jul     30
Aug     31
Sep     29
Oct     33
Nov     34
Dec     32
dtype: int64

In [50]:
mapobj = {30 : 300, 31 : 310, 32 : 40, 34 : 100}

In [51]:
s1.map(mapobj)

|Jan    300.0
Feb     310.0
Mar      40.0
Apr       NaN
May     100.0
Jun      40.0
Jul     300.0
Aug     310.0
Sep       NaN
Oct       NaN
Nov     100.0
Dec      40.0
dtype: float64